$font-size: 16px;
$font-family: 'Roboto', sans-serif, 'Segoe UI Symbol';
$font-weight: 600;
$letter-spacing: 1px;

$border-radius: 20px;

.jelly-flex {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  display: flex;
  border-radius: $border-radius;

  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;

  transition: all 0.3s;

  margin: 5px;

  overflow: hidden;
}

.jelly-bg {
  background-color: var(--theme-background);
}
