@use "base";
@use "animations";
@use "color";

@keyframes click {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

@keyframes click_out {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.j-button {
  --width: 80px;
  --height: 40px;
  width: var(--width);
  height: var(--height);

  align-items: center;
  justify-content: center;

  display: flex;
  padding: 10px 15px;

  border: 1px solid #ccc;

  background-color: var(--theme-mute);
  color: var(--text);

  position: relative;

  cursor: pointer;

  transition: all 0.3s ease-in-out;

  box-shadow: inset 0px 0px 10px 5px rgba(127, 127, 127, 0.2);

  &:hover {
    background-color: var(--theme-hover);
  }

  &:active {
    animation: click 0.2s forwards;
  }

  &:active::after {
    animation: click_out 0.2s forwards;
  }

  .j-button__start {
    margin-inline-end: 5px;
  }
  .j-button__end {
    margin-inline-start: 5px;
  }
}

.j-button__before {
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
  color: var(--text-disabled);
  background-color: var(--theme-disabled);
  backdrop-filter: blur(2px);
  border-radius: base.$border-radius;
  font-weight: base.$font-weight;
}

.j-button--disabled {
  cursor: not-allowed;
  .j-button__before {
    opacity: 1;
  }
  &:hover {
    background-color: var(--theme-mute);
  }
}
