@use 'base';
@use 'color';

.j-field {
  --width: 80%;
  --height: max-content;
  width: var(--width);
  height: var(--height);

  flex-direction: column;
  justify-content: start;
  background-color: var(--theme-background);

  padding: 10px 15px;
  margin: 10px 20px;

  box-shadow: 0 0 50px 0 rgba($color: #000000, $alpha: 0.2);

  .j-field__title {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .j-field__container {
    padding: 10px;

    // overflow: hidden;
    // overflow-y: scroll;
    overflow: auto;

    height: 100%;

    font-weight: normal;

    background-color: var(--theme-background);
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;

    box-shadow: inset 0 0 6px 5px rgba(0, 0, 0, 0.05);

    &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--theme-mute);
      border-radius: 10px;
    }
  }
}
